<!DOCTYPE html>
<html>

<head>
<title>Dagron</title>
<link rel="stylesheet" type="text/css" href="/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/style.css" />
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/jquery-ui.min.js"></script>
<script type="text/javascript" src="/skel.min.js">
  {preset: "default"}
</script>
</head>

<body>
<%= yield %>
</body>

</html>
