body {
  padding: 0;
  margin: 10px;
}

.map-preview {
  position: relative;
  background-color: black;
}

.map-preview img {
  position: absolute;
  top: 0;
  left: 0;
}

.map-preview .map-viewport {
  position: absolute;
  border: 2px dotted lightgreen;
  z-index: 1000;
  cursor: move;
}

.map-presentation {
  margin: -10px;
}

.map-presentation .map {
  position: relative;
  background-color: black;
}

.map-presentation .map img {
  position: absolute;
  top: 0;
  left: 0;
}

.map-presentation .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 10000px;
  height: 10000px;
  z-index: 1000;
  background: black;
}

ul.images {
  list-style-type: none;
  padding-left: 10px;
}

ul.images > li {
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
  width: 300px;
  cursor: move;
}

ul.images > li > span.ui-icon {
  float: left;
  margin-right: 5px;
}

ul.images > li span.image-name {
  cursor: pointer;
}

ul.images > li input.image-visibility {
  display: block;
  float: right;
  cursor: pointer;
}
