<h1>Maps</h1>

<ul>
<% @maps.each do |map| %>
  <li><a href="/maps/<%= map.id %>"><%= map.name %></a></li>
<% end %>
</ul>

<form action="/maps" method="post">
  <h2>Create map:</h2>
  <p>
    <label>Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <input type="submit" />
  </p>
</form>
